<div class="w3-card-4   w3-padding-top-32 w3-blue-gray w3-padding-16" style="width: 60%; margin: auto;">
  <h1 style="text-align: center;">REGULATIONS</h1>
  <ol style="line-height:35px;">
    <li>This regulation states the rights and duties of atenees of the Snepcon 2020 convention, which takes place
      from 26.02.2020 - 01.03.2020.
    </li>
    <li>Each and every one of the convention attendees of the Snepcon, organized by MizuLynx is obliged to read the
      regulations.
    </li>
    <li>By registering at the convention website, the attendee agrees to terms of these regulations.</li>
    <li>Both Snepcon and the hotel regulations will be available during the convention at the hotel entrance as well
      as in electronic form.
    </li>
    <li>Those who will not obey the regulations may be removed from the convention without the right to have their
      money back.
    </li>
    <li>Organizer reserves the right to have the final decision regarding regulations interpretation.</li>
    <li>In matters not mentioned in the regulations, the provisions of the Civil Code shall be applied.</li>

  </ol>
</div>
