.w3-container{
    padding: 0px;
    border: solid gold;
    
}

p{
    padding: 2px;
    margin: 2px;
    display: block;

}

.middle{
    text-align: center;
    padding: 2px;
    margin:  0px;
    font-size: 20px;
    font-weight: 600;
    
}

hr{
    margin: 0;
}

span{
    display: flex;
    font-size: 20px;
   
    padding: 2px;
    font-weight: 600;
    width: 100%;
    text-align: center;
    margin: auto;
}

span div{
    justify-items: center;
    align-items: center;
    margin: auto;
}