<div class="w3-row w3-margin">
    <div class="w3-col w3-border link-container" style="width: 30%; margin-right: 16px; height: 450px;">
        <h1 style="padding: 10px 10px 10px 10px;">Become musician. </h1>
        <p style="padding: 10px 10px 10px 10px;"> Do you have soul of artist? During convent you can learn playing an instrument and at the end of it you will
            play with your band.</p>
        <div>
            <div class="grad"></div>
            <a [routerLink]="['/plan']" class="link">show plan</a>

        </div>
    </div>
    <div class="w3-col w3-border link-container " style="width: 30%; margin-right: 16px; height: 450px;">
        <h1 style="padding: 10px 10px 10px 10px;">Be cool </h1>
        <p style="padding: 10px 10px 10px 10px;">We care about good atmosphere in our event. We don't want anyopne to feel worse or have bad memories
            connected with this party. See how you can make this week good for you and other participants</p>
        <div>
            <div class="grad"></div>
            <a [routerLink]="['/rules']"  class="link">show rules</a>
        </div>
    </div>
    <div class="w3-col w3-border link-container" style="width: 30%; margin: auto; height: 450px;">
        <h1 style="padding: 10px 10px 10px 10px;">Become musician. </h1>
        <p style="padding: 10px 10px 10px 10px;">Do you have soul of artist? During convent you can learn playing an instrument and at the end of it you will
            play with your band.</p>
        <div>
            <div class="grad"></div>
            <a [routerLink]="['/data']" class="link">show plan</a>
        </div>
    </div>
</div>

