<div class="w3-container"
  *ngIf="(artist.genre == filteredValue && !searchArt) || (filteredValue == null && searchArt == artist.band) || (filteredValue == null && !searchArt)"
  style="background-color: silver; width: 50%; margin: auto; border: 5px, solid, greenyellow; margin-top: 20px; margin-bottom: 30px;">
  <div *ngIf="artist.approved == 0" style="opacity: 0.3;">
    <p style="text-align: center; color: rgb(70, 177, 9); font-size: 40px;"><strong>{{artist.band}}</strong></p>
    <hr style="border-color: green;">
    <p style="font-size: 30px;text-align: center;"><strong style="color: red;">{{artist.genre}}</strong></p>
    <hr style="border-color: red;">
    <div class="middle"> {{artist.votes}} </div>
  </div>



 
  <div *ngIf="artist.approved == 1" style="opacity: 1;">

    <p style="text-align: center; color: rgb(70, 177, 9); font-size: 40px;"><strong>{{artist.band}}</strong></p>
    <hr style="border-color: green;">
    <p style="font-size: 30px;text-align: center;"><strong style="color: red;">{{artist.genre}}</strong></p>
    <hr style="border-color: red;">
  </div>
