<div *ngFor="let participant of participants">
  <div *ngIf="participant.choice == 0 &&  participant.username == username">

    <div class="w3-row w3-margin">
      <div class="w3-col w3-border link-container" style="width: 30%; margin-right: 16px; height: 500px;">
        <h1 style="padding: 10px 10px 10px 10px;">SOLO PACK </h1>
        <p style="padding: 10px 10px 10px 10px;"> Do you want to meet new friends but silence your thoughts in room.
          Take
          this single room!<p>
            <div>
              <div class="grad"></div>
              <a (click)= "updatePartial(participant.id, participant.username, 1, participant.votes);" class="link">buy</a>

            </div>
      </div>
      <div class="w3-col w3-border link-container " style="width: 30%; margin-right: 16px; height: 500px;">
        <h1 style="padding: 10px 10px 10px 10px;">PREMIUM </h1>
        <p style="padding: 10px 10px 10px 10px;">party with partner? Or your Best friend? buy double room! </p>
        <div>
          <div class="grad"></div>
          <a (click)="updatePartial(participant.id, participant.username, 2, participant.votes);" class="link">buy</a>
        </div>
      </div>
      <div class="w3-col w3-border link-container" style="width: 30%; margin: auto; height: 500px;">
        <h1 style="padding: 10px 10px 10px 10px;">PREMIUM SUP </h1>
        <p style="padding: 10px 10px 10px 10px;">Do you have soul of artist? During convent you can learn playing an
          instrument and at the end of it you will
          play with your band.</p>
        <div>
          <div class="grad"></div>
          <a (click)="updatePartial(participant.id, participant.username, 3, participant.votes);" class="link">buy</a>
        </div>
      </div>
    </div>

  </div>

  <div id="containerfortable" *ngIf="participant.choice == 1 &&  participant.username == username">

    <div>
      <img src="../../assets/logo.jpeg" alt="logo">
    </div>
    <div>
      <table>
        <tr>
          <th>Username</th>
          <td>{{participant.username}}</td>
          <th>INFO</th>
        </tr>
        <tr>
          <th>Pack</th>
          <td>Solo Pack</td>
          <td rowspan="4">BLA BLA BLA</td>
        </tr>
        <tr>
          <th>Price</th>
          <td>400PLN</td>
        </tr>
        <tr>
          <th>Room</th>
          <td>{{participant.id}}</td>
        </tr>
        <tr>
          <th>Date</th>
          <td> from start to end</td>
        </tr>
      </table>
    </div>
  </div>



  <div id="containerfortable" *ngIf="participant.choice == 2 &&  participant.username == username">

    <div>
      <img src="../../assets/logo.jpeg" alt="logo">
    </div>
    <div>
      <table>
        <tr>
          <th>Username</th>
          <td>{{participant.username}}</td>
          <th>INFO</th>
        </tr>
        <tr>
          <th>Pack</th>
          <td>Premium</td>
          <td rowspan="4">BLA BLA BLA</td>
        </tr>
        <tr>
          <th>Price</th>
          <td>700PLN</td>
        </tr>
        <tr>
          <th>Room</th>
          <td>{{participant.id}}</td>
        </tr>
        <tr>
          <th>Date</th>
          <td> from start to end</td>
        </tr>
      </table>
    </div>
  </div>


  <div id="containerfortable" *ngIf="participant.choice == 3 &&  participant.username == username">

    <div>
      <img src="../../assets/logo.jpeg" alt="logo">
    </div>
    <div>
      <table>
        <tr>
          <th>Username</th>
          <td>{{participant.username}}</td>
          <th>INFO</th>
        </tr>
        <tr>
          <th>Pack</th>
          <td>Premium Sup</td>
          <td rowspan="4">BLA BLA BLA</td>
        </tr>
        <tr>
          <th>Price</th>
          <td>850PLN</td>
        </tr>
        <tr>
          <th>Room</th>
          <td>{{participant.id}}</td>
        </tr>
        <tr>
          <th>Date</th>
          <td> from start to end</td>
        </tr>
      </table>
    </div>
  </div>
</div>
