<div *ngIf="choice == 0">

  <div class="w3-row w3-margin">
    <div class="w3-col w3-border link-container" style="width: 30%; margin-right: 16px; height: 500px;">
      <h1 style="padding: 10px 10px 10px 10px;">SOLO PACK </h1>
      <p style="padding: 10px 10px 10px 10px;"> Do you want to meet new friends but silence your thoughts in room. Take
        this single room!<p>
          <div>
            <div class="grad"></div>
            <a class="link">buy</a>

          </div>
    </div>
    <div class="w3-col w3-border link-container " style="width: 30%; margin-right: 16px; height: 500px;">
      <h1 style="padding: 10px 10px 10px 10px;">PREMIUM </h1>
      <p style="padding: 10px 10px 10px 10px;">party with partner? Or your Best friend? buy double room! </p>
      <div>
        <div class="grad"></div>
        <a class="link">buy</a>
      </div>
    </div>
    <div class="w3-col w3-border link-container" style="width: 30%; margin: auto; height: 500px;">
      <h1 style="padding: 10px 10px 10px 10px;">PREMIUM SUP </h1>
      <p style="padding: 10px 10px 10px 10px;">Do you have soul of artist? During convent you can learn playing an
        instrument and at the end of it you will
        play with your band.</p>
      <div>
        <div class="grad"></div>
        <a [routerLink]="['/data']" class="link">show plan</a>
      </div>
    </div>
  </div>

</div>

<div id="containerfortable" *ngIf="choice == 1">

      <img src="../../assets/logo.jpeg" alt="logo" style=" width: 18%; margin: 0 auto; display: block;">
      <table style="float: left; margin: 0 auto; display: block;">
        <tr>
          <th>Username</th>
          <td>user1</td>
          <th>INFO</th>
        </tr>
        <tr>
          <th>Pack</th>
          <td>Solo Pack</td>
          <td rowspan="4">BLA BLA BLA</td>
        </tr>
        <tr>
          <th>Price</th>
          <td>600PLN</td>
        </tr>
        <tr>
          <th>Room</th>
          <td>userid</td>
        </tr>
        <tr>
          <th>Date</th>
          <td> from start to end</td>
        </tr>
      </table>
    </div>


<ng-template #reserve>

  <div class="w3-row w3-margin">
    <div class="w3-col w3-border link-container" style="width: 30%; margin-right: 16px; height: 500px;">
      <h1 style="padding: 10px 10px 10px 10px;">SOLO PACK </h1>
      <p style="padding: 10px 10px 10px 10px;"> Do you want to meet new friends but silence your thoughts in room. Take
        this single room!<p>
          <div>
            <div class="grad"></div>
            <a class="link">buy</a>

          </div>
    </div>
    <div class="w3-col w3-border link-container " style="width: 30%; margin-right: 16px; height: 500px;">
      <h1 style="padding: 10px 10px 10px 10px;">PREMIUM </h1>
      <p style="padding: 10px 10px 10px 10px;">party with partner? Or your Best friend? buy double room! </p>
      <div>
        <div class="grad"></div>
        <a class="link">buy</a>
      </div>
    </div>
    <div class="w3-col w3-border link-container" style="width: 30%; margin: auto; height: 500px;">
      <h1 style="padding: 10px 10px 10px 10px;">PREMIUM SUP </h1>
      <p style="padding: 10px 10px 10px 10px;">Do you have soul of artist? During convent you can learn playing an
        instrument and at the end of it you will
        play with your band.</p>
      <div>
        <div class="grad"></div>
        <a [routerLink]="['/data']" class="link">show plan</a>
      </div>
    </div>
  </div>











</ng-template>
