<div class="w3-top">
  <div class="w3-row w3-padding w3-black">
    <div class="w3-col s3">
      <a [routerLink]="['/start']" class="w3-button w3-block w3-black">START</a>
    </div>
    <div class="w3-dropdown-hover w3-col s3">
      <button class="w3-button" style="width: 100%;">KEY INFO</button>
      <div class="w3-dropdown-content w3-bar-block w3-border" style="width: 100%;">
        <a [routerLink]="['/plan']"  class="w3-bar-item w3-button">plan</a>
        <a [routerLink]="['/rules']"  class="w3-bar-item w3-button">rules</a>
        <a class="w3-bar-item w3-button">data</a>
      </div>
    </div>
    <div class="w3-col s3">
      <a [routerLink]="['/participantzone']" class="w3-button w3-block w3-black">PARTICIPANT ZONE</a>
    </div>
    <div class="w3-col s3">
      <a [routerLink]="['/info']" class="w3-button w3-block w3-black">INFO</a>
    </div>
  </div>
</div>
<header class="bgimg w3-display-container w3-grayscale-min">
  <div class="w3-display-middle w3-center">
    <span class="w3-text-white" style="font-size:90px;">SNEPO<br>CON</span>
  </div>
</header>


<div class="w3-display-container w3-padding-64"
  style="background-image: linear-gradient(to bottom, rgba(52,52,52,1), rgba(52, 52, 52, 0.2)  ); width: 100%; height: 80%;">
  <router-outlet></router-outlet>
</div>


<footer class="w3-display-container" style="background-color: rgb(52, 52, 52);">
  <div class="logo" style="flex-direction: row; display: flex;">
    <img class="logoimg">
    <p>Jakub <br> Borkowski <br>Snepocon</p>
  </div>
  <p style="text-align: center;">Created by MizuLynx</p>
</footer>