<br><br>
<div style="display: flex; justify-content: space-around; align-items:flex-end;">
  <div class="ui action input" style="display: flex">
    <input type="text" placeholder="Searchbyartist" (blur)="searchArt=searchedArtist.value; " #searchedArtist>
    <button class="ui button" (click)="searchArt=searchedArtist.value; search();">Search</button>
  </div>

  <div style="display: flex;">
    <button class="ui button" (click)="sort = 1;">asc</button>
    <button class="ui button" (click)="sort = 2;">des</button>
  </div>
  <div class="ui inverted segment" style="display: flex;">
    <button class="ui inverted violet basic button" (click)="filteredValue='Rock';">Rock
    </button>
    <button class="ui inverted purple basic button" (click)="filteredValue='Pop';">Pop</button>
    <button class="ui inverted pink basic button" (click)="filteredValue='Electro';">Electro</button>
    <button class="ui button" (click)="filteredValue=null;">All bands</button>
  </div>
</div>
<div class="container">
  <div class="row" style="padding-bottom: 50px;" *ngIf="sort == 2" >
    <app-artist *ngFor="let artist of sortedArtists2()" [artist]="artist" [artists]="artists"
      [filteredValue]="filteredValue" [searchArt]="searchArt"> </app-artist>
  </div>

  <div class="row" style="padding-bottom: 50px;" *ngIf="sort == 1" >
    <app-artist *ngFor="let artist of sortedArtists()" [artist]="artist" [artists]="artists"
      [filteredValue]="filteredValue" [searchArt]="searchArt"> </app-artist>
  </div>

  <div class="row" style="padding-bottom: 50px;" *ngIf="sort == 0 " >
    <app-artist *ngFor="let artist of artists" [artist]="artist" [artists]="artists"
      [filteredValue]="filteredValue" [searchArt]="searchArt"> </app-artist>
  </div>
</div>
