div{
    border: 5px solid red ;
    align-content: center;
    justify-content: center;
    justify-items: center;
    width: 70%;
    margin: auto;
}

span{
    width: 30%;
    padding-left: 150px;
    border-right: solid;
}
button{
    margin-left: 50px;
    width: 20%
}