<div class="w3-card-4   w3-padding-top-32 w3-blue-gray w3-padding-16" style="width: 60%; margin: auto;">
    <h1 style="text-align: center;">PLAN </h1>
    <ul>
        <li style="font-weight: strong;">MONDAY</li>
        <ol>

            <li>concert of one of the best artists of decade</li>
            <li> Lorem ipsum dolor sit amet </li>
            <li> Lorem ipsum dolor sit amet </li>


        </ol>

        <li>TUESDAY</li>
        <ol>
            <li> Lorem ipsum dolor sit amet </li>
            <li> Lorem ipsum dolor sit amet </li>
            <li> Lorem ipsum dolor sit amet </li>


        </ol>
        <li>WEDNESDAY</li>
        <ol>
            <li> Lorem ipsum dolor sit amet </li>
            <li> Lorem ipsum dolor sit amet </li>
            <li> Lorem ipsum dolor sit amet </li>
        </ol>
        <li>Thursday</li>
        <ol>
            <li> Lorem ipsum dolor sit amet </li>
            <li> Lorem ipsum dolor sit amet </li>
            <li> Lorem ipsum dolor sit amet </li>
        </ol>

    <li>Friday</li>
    <ol>
        <li> Lorem ipsum dolor sit amet </li>
        <li> Lorem ipsum dolor sit amet </li>
        <li> Lorem ipsum dolor sit amet </li>
    </ol>
</ul>
</div>